*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.main-title {
  font-size: 32px;
  line-height: 1.2;
}
media (min-width: 576) {
  .main-title {
    font-size: 42px;
  }
}
media (min-width: 1200px) {
  .main-title {
    font-size: 56px;
    line-height: 69px;
  }
}
